---
import Features2 from '~/components/widgets/Features2.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '关于',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      保持好奇，永远出发。这里为探索与尝鲜而生。 <br />
      <span class="text-accent dark:text-white">预留标题</span>
    </Fragment>

    <Fragment slot="subtitle">
      在这个空间，我记录我的发现与灵感，也希望分享给同样热爱探索、喜欢尝鲜的朋友。每一次点击、每一次出发，都是一场新的探险。
    </Fragment>
  </Hero>

  
  

  <Features2
    title="我的地址"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: '地址 1',
        description: '建设中',
      },
      {
        title: '地址 2',
        description: '建设中',
      },
      {
        title: '地址 3',
        description: '建设中',
      },
      {
        title: '地址 4',
        description: '建设中',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="联系我"
    tagline="怎么找到我"
    columns={2}
    items={[
      {
        title: '在线沟通',
        description:
          '建设中',
        icon: 'tabler:messages',
      },
      {
        title: '建设中',
        description:
          '建设中',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
